:root {

font-size: 9px;

/*color*/
--color-black: #3f454d;
--color-white: #f5f5f5;
--color-darkgrey: #c4c4c4;
--color-lightgrey: #eeeeee;
--color-indigo: #364f6b;
--color-blue: #3fc1c9;
--color-pink: #fc5185;

/* font-size */
--headfont: 2rem;
--midfont: 1.5rem;
--smallfont: 1rem;
}


* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html{
font-size: 62.5%;
display: flex;
width: 100%;
height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}


@media (min-width: 1000px) {

  :root {
    font-size: 17px;
  }

}




