h1 {
  color: var(--color-black);
  font-size: var(--headfont);
  align-items: center;
  padding-bottom: 20px;
}

h2{
  color: var(--color-black);
  font-size: var(--midfont);
  padding-bottom: 10px;
}

h3{
  color: var(--color-black);
  font-size: calc(var(--midfont));
  align-items: center;
  padding-top: 20px;
}

.totalsummary-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-radius: 10px;
}

.polarchart-container {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-color: black;
  padding: 10px;
  background-color: var(--color-white);
  flex: 0.6;
  justify-content: center;
  align-items: center;
}

.doughnutchart-container {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-color: black;
  padding: 10px;
  background-color: var(--color-white);
  flex: 0.6;
  justify-content: center;
  align-items: center;
}

.radarchart-container {
  display: flex;
  border-width: 1px;
  border-color: black;
  padding: 10px;
  background-color: var(--color-white);
  flex: 0.6;
  justify-content: center;
  align-items: center;
}

.chartjs-size-monitor{
 position: relative !important;
 display: flex !important;
}

/* .highleftcolor{
  background-color: rgb(225, 31, 28);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.lowleftcolor{
  background-color: rgb(250, 174, 173, 0.5369);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.highrightcolor{
  background-color: rgb(1, 149, 223);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.lowrightcolor{
  background-color: rgb(168, 226, 255);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.middlecolor {
  background-color: var(--color-lightgrey);
  padding: 10px;
  display: flex;
  flex-direction: column;
} */
