h1 {
  color: var(--color-black);
  font-size: var(--headfont);
  padding-bottom: 15px;
}

h2{
  color: var(--color-black);
  font-size: var(--midfont);
}

h3{
  color: var(--color-black);
  font-size: calc(var(--midfont));
  align-items: center;
}

.notice {
  display: flex;
  padding: 10px;
}

.totalsummary-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 8.5vh;
}

.totalsummary-wrapper > h1 {
  align-items: left !important;
}

.total-summary{
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: left;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.point-colour {
  color: #6b04da;
}

.polarchart-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  flex: 0.6;
  justify-content: center;
  align-items: left;
  border-radius: 5px;
  margin-bottom: 10px;
}

.doughnutchart-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: white;
  flex: 0.8;
  justify-content: center;
  align-items: left;
  border-radius: 5px;
  margin-bottom: 10px;
}

.wordcloud-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  flex: 0.8;
  justify-content: center;
  align-items: left;
  border-radius: 5px;
  margin-bottom: 10px;
}

canvas {
  display: flex;
  width: 100% !important;
}

.polarchart-container > canvas {
  width: 100% !important;
  height: 100% !important;
}

.doughnutchart-container > canvas {
  width: 100% !important;
  height: 90% !important;
}

.chartjs-render-monitor {
  animation: chartjs-render-animation 0.001s;
}

.keyword-block {
  background-color: var(--color-lightgrey);
  padding: 10px;
  border-radius: 15px;
  margin-right: 10px;
  margin-top: 10px;
}

.comment-box{
  justify-content: center;
  padding: 10px;
  margin-top: 5px;
  border-top: 1px dotted #c2c2c2;
  border-bottom: 1px dotted #c2c2c2;
  width: 90%
}



/* Adjustments to Material UI */

/* @media (min-width: 500px) {

  .makeStyles-listItemText-56 {
    font-size: 1.5vw !important;
  }

  .makeStyles-listItemTextMain-57 {
    font-size: 1.5vw !important;
  }

  .MuiIconButton-root {
    padding: 14px 10px 14px 10px !important;
  }

}

@media (min-width: 600px) {

  .makeStyles-storyTitle-89 {
    font-size: 3vh !important;
  }

  .MuiSvgIcon-root {
    font-size: 5vh !important;
  }

  .MuiIconButton-root:hover {
    background-color: rgba(0, 0, 0, 0) !important;
  }

} */



