.StoryHeadWrapper {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    height: 24.2vh;
    align-items: center;
    justify-content: space-between;
}

.StoryHeadCardWrapper {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5vh;
    margin-bottom: 0.3vh;
}

.StoryHeadImage {
    display: inline-block;
    object-fit: cover;
      min-width: 100%;
     min-height: 100%;

}

.StoryHeadTitle {
    font-size: 1.5rem;
    text-align: center;
    margin: 2px;
}

.StoryHeadInfo {
    display: inline;
    font-size: 12px;
    color: black;
    margin: 2px;
}


/* HARD CODING THE NONE HEAR FOR DISPLAY */
.StoryHeadTextWrap {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;

}