.ProfileWrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.7vh;
    min-height: 91.5vh;
}

.profileRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto 2vw;
    width: 82vw;
    margin: 1.5vh 6vw;
}

.profileColumn {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-self: start;
    align-items: flex-start;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 94vw;
}

.objectiveScore {
    font-size: 2.3vh;
}

.objectiveScoreNumber {
    font-size: 2.4vh;
}

.profileEmail {
    font-size: 1.6vh;
}

 h5 {
    font-size: 20px;
    align-self: flex-start;
}

hr {
    color: black;
    border: black solid 1px;
    width: 95vw;
}

.AvatarName {
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 40%;
}

.ProfilePageName {
    margin-left: 2vw;
}

.ProfileHeaderNews {
    margin-left: 5.5vw;
}

.profileCheckBoxWrap {
    margin-top: -2vh;
}