.ArticleTileWrapper {
    /* background-color: lightblue; */
    /* margin: 1px; */
    /* margin-right: 20px; */
    min-width: 95vw;
    position: relative;
    display: flex;
    margin-left: 3vw;
    flex-direction: column;

}

.RowOne {
    display: flex;

}

.RowTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.TextOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    /* background-color: lightgreen; */
}

.ArticleTileImage {
    border-radius: 10%;
    margin: 2.5%;
    width: 100px;
    height: 100px;

}

.ArticleTileTitle {
    /* background-color: lightcoral; */
    align-self: center;
    margin-right: 4%;
}

.ArticleTileSource {
    position: absolute;
    top: 5%;
    left: 1%;
    font-size: 12px;
    font-weight: 700;
}

.ArticleTileTime {
    font-size: 12px;
    margin: 1%;
}

.SocialButton {
    margin-right: 3vw;
    display: none;
}

.StoryAttribute {
     text-decoration:none;
     color: inherit;
}

.ArticleTileCardWrapper {
    margin-left: 1vw;
    margin-right: 1vw;
}