/* Header */

header {
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 0, 51);

  /* Make it a flex-item */
  display: flex;

  /* Make header fixed */
  position: fixed;
  top: 0;
  width: 100vw;
  height: 7vh;
}

  .logo-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding-left: 10px;
  }

  .menu-container {
      display: flex;
      padding-right: 20px;
    }

    .profile-icon {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
    }



